<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="shortcut icon" href="{%  static 'image/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>Home</title>
        <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/home.css'%}" rel="stylesheet">
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/Mustache.js' %}"></script>
    <script src="{% static 'js/home.js'%}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1H2mfmKTx6ujnCmvQgNH7JCcyHtTcZug&callback=initMap">
    </script>
</head>
<body>
    <div class="header">
        <ul class="nav nav-pills pull-right small ">
            <li><a data-toggle="modal" data-target="#postJob">Post job</a></li>
            <li><a data-toggle="modal" data-target="#jobLocation">View map</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/logout/">Logout</a> </li>
        </ul>
        <span>
            <h3 class="text-muted logo">
                <img src="{% static 'image/favicon.ico'%}"> Site Name
            </h3>
        </span>
    </div>
    
                  <!-- Modal -->
    <div class="modal fade" id="postJob" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Post job</h4>
                </div>
                <div class="modal-body">
                    <form id="postJob" class="form-post" role="form" method="post">{% csrf_token %}
                        <div id="mapHolder2">
                            <div id="map">
                            </div>
                        </div>
                        <input id="marker_lat" class="form-control" type="hidden" placeholder="Lat" name="lat"  required>
                        <input id="marker_lng" class="form-control" type="hidden" placeholder="Lng" name="lng"  required>
                        <input class="form-control" type="number" placeholder="Type" name="type" required>
                        <input class="form-control" type="number" placeholder="Points" name="points" required>
                        <input class="form-control" type="date" placeholder="Deadline" name="deadline" required>
                        <textarea name="description" placeholder="Decription.." class="form-control" rows="5" required></textarea>
                        <button type="submit" class="btn margin-top" disabled id="postJobButton">Post</button>
                        <button type="button" class="btn pull-right margin-top" data-dismiss="modal">Close</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="jobLocation" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location</h4>
                </div>
                <div class="modal-body">
                    <div id="mapHolder2"></div>         
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="col-lg-12">
            <div class="col-lg-4 info">
                <p class="username">Hi, {{user.username}}</p>
                <p>You have {{user.info.points}} points</p>
                <p class="error">{{error}}</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-field-to-change" type="button">First name:</button>
                    </span>
                    <input class="form-control" value="{{user.first_name}}" name="firstname" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-field-to-change" type="button">Last name:</button>
                    </span>
                    <input class="form-control" value="{{user.last_name}}" name="lastname" disabled>
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Jobs to do:</h2>
                <div class="row-marketing">
                    {% for job in user.todo.all %}
                    <div class="row">
                        <h3 class="text-green">Type: {{ job.type }} Points: {{ job.points }} Deadline: {{ job.deadline }}
                            <a class="btn pull-right text-black btn-map-marker-set" target="_blank" href="/jobs/map/?lat={{job.location.y}}&lng={{job.location.x}}">View location</a>
                        </h3>
                        <p>Description: {{ job.description }}</p>
                        <p class="text-green">Customer: {{ job.customer.username }}</p>
                    </div>
                    {% endfor %}
                </div>
                <h2>Your posted jobs:</h2>
                <div class="row-marketing">
                    {% for job in user.jobs.all %}
                    <div class="row">
                        <h3 class="text-green">Type: {{ job.type }} Points: {{ job.points }} Deadline: {{ job.deadline }}
                            <button class="btn pull-right text-black btn-map-marker-set">View location
                                <spam class="marker_lat" hidden="true">{{job.location.y}}</spam>
                                <spam class="marker_lng" hidden="true">{{job.location.x}}</spam>
                            </button>
                        </h3>
                        <p>Description: {{ job.description }}</p>
                        {% if job.performer %}
                        <p class="text-green">Doing: {{ job.performer.username }}</p>
                        {% else %}
                        <p class="text-green">None is doing</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>