<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="shortcut icon" href="{%  static 'image/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>Home</title>
        <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/home.css'%}" rel="stylesheet">
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/home.js'%}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1H2mfmKTx6ujnCmvQgNH7JCcyHtTcZug&callback=initMap">
    </script>
</head>
<body>
    <div class="header">
        <ul class="nav nav-pills pull-right small ">
            <li><a data-toggle="modal" data-target="#postJob">Post job</a></li>
            <li><a href="/jobs/">Search jobs</a></li>
            <li><a href="/">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/logout/">Logout</a> </li>
        </ul>
        <span>
            <h3 class="text-muted logo">
                <img src="{% static 'image/favicon.ico'%}"> Site Name
            </h3>
        </span>
    </div>
    
                  <!-- Modal -->
    <div class="modal fade" id="postJob" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Post job</h4>
                    
                </div>
                <div class="modal-body">
                    <form id="postJob" class="form-post" role="form" method="post">{% csrf_token %}
                        <div id="mapHolder2">
                            <div id="map">
                            </div>
                        </div>
                        <input id="marker_lat" class="form-control" type="hidden" placeholder="Lat" name="lat"  required>
                        <input id="marker_lng" class="form-control" type="hidden" placeholder="Lng" name="lng"  required>
                        <select class="form-control" name="type">
                            <option value="0">Прогулянка із псом</option>
                            <option value="1">Похід за продуктами</option>
                            <option value="2">Миття вікон</option>
                            <option value="3">Ремонт меблів</option>
                            <option value="4">Супровід дитини у школу</option>
                            <option value="5">Ремонт одягу</option>
                            <option value="6">Миття машини</option>
                            <option value="7">Послуги няні</option>
                            <option value="8">Ремонт велосипеду</option>
                            <option value="9">Догляд за домашньою твариною на певний час</option>
                            <option value="10">Допомога з перевезенням речей</option>
                            <option value="11">Фарбування паркану</option>
                            <option value="12">Прибирання квартири</option>
                            <option value="13">Миття посуду</option>
                        </select>
                        <input class="form-control" type="number" placeholder="Points" name="points" required>
                        <input class="form-control" type="date" placeholder="Deadline" name="deadline" required>
                        <textarea name="description" placeholder="Decription.." class="form-control" rows="5" required></textarea>
                        <button type="submit" class="btn margin-top" disabled id="postJobButton">Post</button>
                        <button type="button" class="btn pull-right margin-top" data-dismiss="modal">Close</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="jobLocation" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location</h4>
                </div>
                <div class="modal-body">
                    <div id="mapHolder2"></div>         
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="col-lg-12">
            <div class="col-lg-4 info">
                <p class="username">Hi, {{user.username}}</p>
                <p>You have {{user.info.points}} points</p>
                <p class="error">{{error}}</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-field-to-change" type="button">First name:</button>
                    </span>
                    <input class="form-control" value="{{user.first_name}}" name="firstname" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-field-to-change" type="button">Last name:</button>
                    </span>
                    <input class="form-control" value="{{user.last_name}}" name="lastname" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-field-to-change" type="button">Email:</button>
                    </span>
                    <input class="form-control" value="{{user.email}}" name="email" disabled>
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Jobs to do:</h2>
                <div class="row-marketing">
                    {% for job in user.todo.all %}
                    <div class="row">
                        <div class="col-lg-9 job-row">
                            <h3 class="text-green">Type: {{ job.get_type_display }} Points: {{ job.points }} <br>Deadline: {{ job.deadline }}</h3>
                            <p>Description: {{ job.description }}</p>
                            <p class="text-green">Customer: <a href="/{{job.customer.id}}/">{{ job.customer.username }}</a></p>
                        </div>
                        <div class="col-lg-3 job-serv">
                            <a class="btn btn-job-serv text-black btn-map-marker-set" target="_blank" href="/jobs/map/?lat={{job.location.y}}&lng={{job.location.x}}">View location</a>
                            <button class="btn btn-job-serv text-black btn-map-marker-set done-job" value="{{job.id}}">Done {% if job.done %}&#10004{%endif%}</button>
                            <button class="btn btn-job-serv text-black btn-map-marker-set delete-job" value="{{job.id}}">Delete</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <h2>Your posted jobs:</h2>
                <div class="row-marketing">
                    {% for job in user.jobs.all %}
                    <div class="row">
                        <div class="col-lg-9 job-row">
                            <h3 class="text-green">Type: {{ job.get_type_display }} Points: {{ job.points }} <br>Deadline: {{ job.deadline }}</h3>
                            <p>Description: {{ job.description }}</p>
                            {% if job.performer %}
                            {% if job.done %}
                            <p class="text-green">Done by: <a href="/{{job.performer.id}}/">{{ job.performer.username }}</a></p>
                            {% else %}
                            <p class="text-green">Doing: <a href="/{{job.performer.id}}/">{{ job.performer.username }}</a></p>
                            {% endif %}
                            
                            {% else %}
                            <p class="text-green">None is doing</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-3 job-serv">
                            <a class="btn btn-job-serv text-black btn-map-marker-set" target="_blank" href="/jobs/map/?lat={{job.location.y}}&lng={{job.location.x}}">View location</a>
                            <button class="btn btn-job-serv text-black btn-map-marker-set done-job" value="{{job.id}}">Done {% if job.done %}&#10004{%endif%}</button>
                            <button class="btn btn-job-serv text-black btn-map-marker-set delete-job" value="{{job.id}}">Delete</button>
                        </div>
                        
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>