<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign Up</title>
    <link rel="shortcut icon" href="{%  static 'image/favicon.ico' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signup.css'%}" rel="stylesheet">
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var map;
        function initMap() {
            var kiev = {lat: 50.438, lng: 30.526};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: kiev
            });
            var marker;
            var markerInput_lat = $('#marker_lat');
            var markerInput_lng = $('#marker_lng');
            google.maps.event.addListener(map, 'click', function(event) {
                if (marker != null) {
                    marker.setMap(null);
                } else {
                    $("#submit").removeAttr("disabled");
                }
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true
                });
                markerInput_lat.val(marker.position.lat());
                markerInput_lng.val(marker.position.lng());
                google.maps.event.addListener(marker, 'drag', function(event) {
                    markerInput_lat.val(this.position.lat());
                    markerInput_lng.val(marker.position.lng());
                });
                google.maps.event.addListener(marker, 'dragend', function(event) {
                    markerInput_lat.val(this.position.lat());
                    markerInput_lng.val(this.position.lng());
                });
            });
        }
    </script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1H2mfmKTx6ujnCmvQgNH7JCcyHtTcZug&callback=initMap">
    </script>
  </head>

  <body>
    <div class="container">
        
        <span>
      <form class="form-signin" role="form" method="post">
         
        <input id="marker_lat" class="form-control" type="hidden" placeholder="Lat" name="lat" required>
        <input id="marker_lng" class="form-control" type="hidden" placeholder="Lng" name="lng"  required>
          {% csrf_token %}
        <h2 class="form-signin-heading">Sign up</h2>
        {%if error%}<h4 class="alert-warning">{{error}}</h4>{%endif%}
        <input type="email" class="form-control form-control-top" placeholder="Email address" required autofocus name="email">
        <input type="password" class="form-control" placeholder="Password" required name="password">
        <input type="password" class="form-control" placeholder="Repeat password" required name="password_repeat">
        <input type="text" class="form-control" placeholder="Nickname" required name="username">
        <input type="text" class="form-control" placeholder="Firstname" required name="firstname">
        <input type="text" class="form-control form-control-bot" placeholder="Lastname" required name="lastname">
        <button id="submit" disabled class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <a class="btn btn-lg btn-primary btn-block" href="/login/">Log in</a>
      </form>
        </span>
        <span id="map">
        </span> 
    </div> 
  </body>
</html>
